﻿
            /*#form fieldset {
        background: white;
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative
    }*/

.finish {text-align: center;}

#form fieldset:not(:first-of-type) {display: none;}
#form .previous-step, .next-step {
    width: 100px;font-weight: bold;color: white;border: 0 none;border-radius: 0px;cursor: pointer;padding: 10px 5px;margin: 10px 5px 10px 0px;float: right}

.form, .previous-step {
    background: #616161;
}

.form, .next-step {
    background: #2F8D46;
}

#form .previous-step:hover,
#form .previous-step:focus {
    background-color: #000000
}

#form .next-step:hover,
#form .next-step:focus {
    background-color: #2F8D46
}

.text {
    color: #2F8D46;
    font-weight: normal
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

    #progressbar .active {
        color: #2F8D46
    }

    #progressbar li {
        list-style-type: none;
        font-size: 15px;
        width: 20%;
        float: left;
        position: relative;
        font-weight: 400
    }

    #progressbar #step1:before {content:  "\f597";font-family: "bootstrap-icons";}
    #progressbar #step2:before {content: "2";}
    #progressbar #step3:before {content: "3";}
    #progressbar #step4:before {content: "4"}
    #progressbar #step5:before {content: "5"}
    #progressbar li:before {width: 35px;height: 35px;line-height: 28px;display: block;font-size: 16px;color: #333;background: #ffffff;border-radius: 50%;margin: 0 auto;padding: 2px;border:3px solid #121212;}

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 8px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 16px;
        z-index: -1
    }
        #progressbar li:first-child:after{border-radius:8px 0px 0px 8px!important;}
        #progressbar li:last-child:after{border-radius:0px 8px 8px 0px!important;}
        #progressbar li.active:before,#progressbar li.active:after {background: #000000;color:#fff;}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #2F8D46
}
