html,
body {
	padding: 0;
	margin: 0;
	font-family: 'MuseoSans' !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
.btn-border-blue {
	border: 1px solid #4e6b8c !important;
	padding: 6px 8px !important;
	width: auto !important;
	text-decoration: none !important;
	border-radius: 3px !important;
	color: #4e6b8c !important;
}
/* .info-wrapper {
  background-color: #E6F5FF!important;
  border: 1px solid #A2C7E0!important;
  
} */

/* #progressbar li:last-child > span:before {
	background-color: red;
} */
/* ul#progressbar li:last-child span:before {
    content: "\f3cb";
} */
.collapse-item {
	border: 2px solid;
	margin-bottom: 30px !important;
	border-radius: 10px !important;
	box-shadow: 0px 0px 10px #acabab !important;
	overflow: hidden;
	border-width: 2px !important;
}
.no-avail-opt a {
	border: 1px solid #121212;
	padding: 6px 8px;
	width: auto;
	text-decoration: none;
	border-radius: 3px;
	color: #121212;
}
.select-dropdown {
	position: relative;
	font-weight: 300;
}
.selected_data {
	position: relative;
	color: #9d9a9a;
}
.selected_data:before {
	content: '\f229';
	font-family: 'bootstrap-icons';
	position: absolute;
	right: 11px;
}
.selected_data:hover::before {
	color: #121212;
}
.selected_data.active:before {
	content: '\f235';
	font-family: 'bootstrap-icons';
	color: #ccc;
}

.select_dropdown_data{border:1px solid #949494;border-top:0px;margin-top:-3px;position:absolute;width:100%;z-index:999;background-color:#fff;padding-left:5px;padding-right:5px;border-radius:4px;}
.select-search {
	position: relative;
}
.select-search .search-box {
	padding: 4px 15px 4px 5px;
	border: 1px solid #aaa;
	outline: none;
}
.select-search .search-box:focus {
	border: 1px solid #333;
}
.select-search:before {
	content: '\f52a';
	position: absolute;
	font-family: 'bootstrap-icons';
	top: 4px;
	right: 14px;
}
.warning-icon {margin-right:10px;background-image: url('/images/warning-icon.svg');background-position:center;background-size:18px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat;}
.info-icon{margin-right:10px;background-image: url('/images/info-icon.svg');background-position:center;background-size:18px;width:20px;height:25px;display:inline-block;background-repeat:no-repeat;}

.select-dropdown-content {
	list-style: none;
	padding-left: 0px;
	height: 46vh;
	overflow-y: scroll;
}
.select-dropdown-content li {
	padding: 6px;
	color: #7c7b7b;
}
.select-dropdown-content li:hover {
	background-color: #efefef;
}

.footer p {
	margin-bottom: 0rem !important;
}
.inverse-arrow::before {
	transform: rotate(271deg);
}
/* @media screen and (max-width: 430px) {
	.col-9 {
		width: 100% !important;
	}
} */

.loader {
	background-image: url("/images/spinner.svg");
    background-repeat: no-repeat;
    width: 64px;
    height: 64px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*wrappper for highlight information*/
.info-wrapper {
	background-color: #e6f5ff !important;
	border: 1px solid #a2c7e0 !important;
	border-radius: 8px;
}
.warning-wrapper {
	background-color: #fffbbf;
	border: 1px solid #ffeb36;
	border-radius: 8px;
	color: #333;
}
.warning-wrapper i {
	color: #e5c522;
}

.btn_custom {
	margin-right: 10px !important;
	margin-bottom: 0px !important;
}

.collapse-body .btn_custom,.collapse-body .disabled_btn{font-size:14px!important;}.collapse-body {
	padding: 25px;
}

/*Progress bar*/
/* #progressbar {
	margin-bottom: 30px !important;
	overflow: hidden;
	color: #e0e0e0;
	padding-left: 0px !important;
}
#progressbar .active {
	color: #000000;
}
#progressbar li {
	list-style-type: none;
	font-size: 14px;
	width: 25%;
	float: left;
	position: relative;
	font-weight: 400;
}
#progressbar li > span {
	display: block;
	margin-top: 8px;
}
#progressbar #step1 > span:before {
	content: '\f597';
	font-family: 'bootstrap-icons';
	padding-right: 2px !important;
	padding-bottom: 3px !important;
}
#progressbar #step2 > span:before {
	content: '\f30f';
	font-family: 'bootstrap-icons';
}
#progressbar #step3 > span:before {
	content: '\f2c0';
	font-family: 'bootstrap-icons';
}
#progressbar #step4 > span:before {
	content: '\f3cb';
	font-family: 'bootstrap-icons';
}
#progressbar li > span:before {
	width: 35px;
	height: 35px;
	line-height: 28px;
	display: block;
	font-size: 16px;
	color: #e0e0e0;
	background: #ffffff;
	border-radius: 50%;
	margin: 0 auto;
	padding: 2px;
	border: 3px solid #e0e0e0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#progressbar li.in_progress > span:before {
	color: #121212;
	background: #ffffff;
	border: 3px solid #121212;
}
#progressbar li.active > span:before {
	content: '\f272' !important;
	font-family: 'bootstrap-icons';
	color: #fff;
	border-color: #121212;
	background-color: #121212;
}
#progressbar li:after {
	content: '';
	width: 100%;
	height: 8px;
	background: lightgray;
	position: absolute;
	left: 0;
	top: 45px;
	z-index: -1;
}
#progressbar li:first-child:after {
	border-radius: 8px 0px 0px 8px !important;
}
#progressbar li:last-child:after {
	border-radius: 0px 8px 8px 0px !important;
}
#progressbar li > span.active:before,
#progressbar li.active:after {
	background: #000000;
	color: #fff;
}

@media (max-width: 767px) {
	#progressbar li .progress_step_name {
		min-height: 50px;
	}
	#progressbar li:after {
		top: auto;
		bottom: 12px;
	}
} */

#progressbar li .progress_step_name {
	min-height: 60px;
}

#progressbar li:hover {
	cursor: pointer;
}
.gauge {
	background-color: black;
	/* width: 21vw; */
	height: 8px;
	position: absolute;
	top: 150px;
	border-radius: 8px 8px 8px 8px !important;
}
.mg-card {
	height: 100%;
	margin-bottom: 15px;
	border-radius: 0.4rem !important;
	border: 2px solid #ccc;
}
.mg-card:hover {
	box-shadow: 0px 0px 4px #ccc;
	cursor: pointer;
}
.migrate_type.disabled .mg-card {
	background-color: #e5e4e4;
	pointer-events: none;
}
.migrate_type.active .mg-card {
	border-color: #4e6b8c;
}
.migrate_type.active .mg-card:before {
	content: '\f633';
	border-radius: 3px;
	text-align: center;
	top: 0px;
	padding: 5px 10px;
	left: 0px;
	font-family: 'bootstrap-icons';
	background-color: #4e6b8c;
	color: #fff;
	position: absolute;
}
.bg_primary_blue {
	background-color: rgb(78, 107, 140) !important;
	color: white !important;
}

.license_modal {
	position: fixed !important;
	width: 100% !important;
	height: 100% !important;
	display: flex !important;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.3);
}

.youtube_video_preLoaded {
	overflow: hidden;
}
.youtube_video_player {
	position: fixed !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -50%) !important;
	width: auto !important;
	height: auto !important;
	z-index: 10;
}
.disabled_btn {
	background-color: #cccccc;
	padding: 4px 16px 4px;
	border-radius: 4px;
	color: #a9a9a9;
	border: 1px solid #cccccc;
	width: max-content !important;
	margin-top: 3rem;
	cursor: not-allowed;
}
.bot_runner_btn_fallback_message {
	width: 348px;
	
	left: 0px;
	top: 166px;
	font-size: 14px;
	line-height: 12px;
	letter-spacing: 0.02em;
	color: #747474;
	margin-top: 4px;
	margin-bottom: 6px;
}
.step_name a {
	cursor: pointer;
}
.step_name a:nth-child(1) {
	position: relative;
	left: 2vw;
}
.step_name a:nth-child(2) {
	position: relative;
	left: 2vw;
}
.step_name a:nth-child(3) {
	position: relative;
	left: 3vw;
}
.step_name a:nth-child(4) {
	position: relative;
	left: 3.5vw;
}
footer a {
	color: black;
}
.option_sub {
	font-size: 14px;
	line-height: 12px;
	color: #4f4f4f;
}
.adjusted_btn {
	width: max-content !important;
	margin-left: 12px;
	margin-top: 17px !important;
}
.fake_progress {
	position: absolute;
	height: 8px;
	width: 3%;
	background-color: #e54a0b;
	margin-top: 11px;
	z-index: 100;
}

@media (max-width: 600px) {
	.step_name a:nth-child(1) {
		position: relative;
		left: -3vw;
	}
	.step_name a:nth-child(2) {
		position: relative;
		left: -4vw;
	}
	.step_name a:nth-child(3) {
		position: relative;
		left: -2.5vw;
	}
}

@media (min-width: 1000px) and (max-width: 1200px) {
	.progress_step_name p {
		width: 150px !important;
	}
	.step_name a:nth-child(1) {
		position: relative;
		left: 2vw;
	}
	.step_name a:nth-child(2) {
		position: relative;
		left: 0vw;
	}
	.step_name a:nth-child(3) {
		position: relative;
		left: -1vw;
	}
	.step_name a:nth-child(4) {
		position: relative;
		left: -1.5vw;
	}
}
@media (min-width: 1200px) and (max-width: 1400px) {
	.progress_step_name p {
		width: 179px !important;
	}
	.step_name a:nth-child(1) {
		position: relative;
		left: 2vw;
	}
	.step_name a:nth-child(2) {
		position: relative;
		left: 1vw;
	}
	.step_name a:nth-child(3) {
		position: relative;
		left: 0vw;
	}
	.step_name a:nth-child(4) {
		position: relative;
		left: -1.5vw;
	}
}
@media (min-width: 1400px) and (max-width: 1900px) {
	.step_name a:nth-child(1) {
		position: relative;
		left: 3vw;
	}
	.step_name a:nth-child(2) {
		position: relative;
		left: 3vw;
	}
	.step_name a:nth-child(3) {
		position: relative;
		left: 3vw;
	}
	.step_name a:nth-child(4) {
		position: relative;
		left: 4vw;
	}
}

.collapse-header:hover {
	cursor: pointer;
}
/* .skeleton {
	background-image: radial-gradient(
			circle 50px at 50px 50px,
			lightgray 99%,
			transparent 0
		),
		linear-gradient(
			100deg,
			rgba(255, 255, 255, 0),
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 80%
		),
		linear-gradient(lightgray 20px, transparent 0),
		linear-gradient(lightgray 20px, transparent 0),
		linear-gradient(lightgray 20px, transparent 0),
		linear-gradient(lightgray 20px, transparent 0);

	background-repeat: repeat-y;


	animation: shine 1s infinite;
}

@keyframes shine {
	to {
		
	}
} */

.doc_default_white {
	background-image: url('../public/images/doc-default.svg');
	background-position: center;
	background-size: 16px;
	width: 14px;
	height: 13px;
	display: inline-block;
	filter: invert(100%) sepia(10%) saturate(28%) hue-rotate(84deg) brightness(111%) contrast(370%);
}


.disable{background-color:#ccc;color:#a9a9a9;font-size:14px;}
.disable .tooltiptext {visibility: hidden;width: 130px;background-color: #fff;color: #333;border-radius: 4px;padding: 5px 6px;position: absolute;z-index: 1;bottom: 125%;left: 50%;margin-left: -60px;opacity: 0;transition: opacity 0.3s;border:1px solid #4E6B8C;font-size:10px;line-height:14px;text-align:left;}
.disable .tooltiptext:before {content: '';display: block;position: absolute;left: 80px;top: 100%;width: 0;height: 0;border: 8px solid transparent;border-top-color:#4E6B8C;}
.disable .tooltiptext:after {content: '';display: block;position: absolute;left: 81px;top: 100%;width: 0;height: 0;border: 7px solid transparent;border-top-color: white;}
.disable:hover .tooltiptext {visibility: visible;opacity: 1;}

.loader_parent{
	height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: #00000033;
    position: fixed;
	top: 0px;
}

.youtube_expanded_view{
	height: 100%;
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.651);
    display: flex;
    justify-content: center;
    align-items: center;
}
.warning_parent{
	position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #00000036;
	overflow: hidden;
}

/*start dashboard page*/

/*readiness Page header*/
.p-nav-title{font-size:16px;font-weight:600;color:#E0E0E0;line-height:20px;text-transform:capitalize;}
.p-nav-icon{color:#F5F5F5;font-size:16px;}
.label_bot_percentage{font-size: 12px;line-height: 14px;color: #747474;font-weight: 400;margin-top: 4px;letter-spacing: 0.02em;margin-bottom: 16px;}
.label-error {color: #721c24;background-color: #f8d7da;border-color: #f5c6cb;padding: 10px 15px;border-radius: 5px;font-weight: 500;font-size: 14px;line-height: 25px;letter-spacing: 0.5px;}
.projects{margin-bottom:20px;}
 .projects .p-card.dashed_border{border:2px dashed #ccc;box-shadow:none;}
.projects .p-card.dashed_border:hover{border:2px dashed #4E6B8C;box-shadow:none;background-color:#fff;}
.projects .p-card{border: 2px solid rgba(204, 204, 204, 1);border-radius:4px;height:100%; transition:all 0.5s ease-in;}
.p-sm-title{font-size:15px;color:#121212;text-transform:capitalize;}
.p-title{font-weight:600!important;color:#121212;text-transform:capitalize;}
.fst-italic {display: inline;vertical-align: text-bottom;}
.p-icon{color:#d0d0d0;font-weight:700;}
.p-card .detail_wrapper{font-size:12px;}
.p-card.p_in_progress .detail_wrapper{background-color: #E6F5FF ;border: 1px solid #A2C7E0 ;color:#4684AE;}
.p-card.p_success .detail_wrapper{background-color:#e2f4dc;color:#1C5D1D;border:1px solid #A4D897;}

.p-card  .info-wrapper{font-size:12px;color:#2E4D70!important;background-color:#CDE5F5;}
.project_progress_bar span{position:relative;width:100%;display:block;height:30px;}
.project_progress_bar span:before, .project_progress_bar span::after{content:'';height:10px;width:100%;display:block;left:0px;position:absolute;border-radius:10px;top:10px;}
.project_progress_bar span:before{background-color:#e0e0e0;}
/*.project_progress_bar span:after{background-color:#E54A0B;width:50%;}*/
.p-card.p_success .project_progress_bar span:after{background-color:#59A553;width:100%;}
.projects .p-card:hover,.projects .p-card.active{background-color:#CDE5F5;border:2px solid #4E6B8C;transition:all 0.5s ease-out;box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25); }
/*end dashboard page*/

.project_selected{
	background-color:#CDE5F5 !important;border:2px solid #4E6B8C !important;transition:all 0.5s ease-out !important;box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.25) !important; 
}
/*start projects*/
.p-readiness{background-color:#212121;position:relative;}
.p-overlap{position:absolute;width:100%;max-height:0vh;overflow-y:auto;z-index:999999;left:0px;background-color:#212121;visibility:hidden;}
.project-list.active .p-overlap{overflow: hidden;display:flex;max-height:50vh;visibility:visible;}
.project-header{color:#fff;}

.p-plus-icon{background-image: url('/images/Union.svg');background-position: center;background-size: 33.33px;width:33.33px;height:33.33px;background-repeat: no-repeat;display: inline-block;}
.trend_topic{border: 1px solid #E0E0E0;border-radius:16px;bottom:0px;width:100%;box-shadow:0px 0px 2px 0px rgba(51, 51, 51, 0.25)}
.tt_content{border-top:1px solid #c4c4c4;padding:5px 15px;}
.tt-content-item{border-bottom:1px solid #c4c4c4;padding-top:10px;padding-bottom:10px;}
.tt-content-item:last-child{border-bottom:0px;}
.tt-content-item-title{font-size:13px;text-decoration:unset;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;font-weight:500;color:#333;}
/* .tt-content-item-title::after{content:'See more';display: inline-block;color:#4E6B8C;font-weight:300;font-size:12px;padding-left:5px;} */
.tt-content-item-detail{color: #4f4f4f;font-size: 12px;font-weight: 300;}
/*end projects*/

.projects{
	cursor: pointer;
}
.green_hover:hover{
	background-color: #e2f4dc;
    border: 2px solid #A4D897;
    
}
.progress_main{
	height: 10px;
        border-radius: 10px;
    position: relative;
    top: -20px;
	width: 0% ;
    
}
.dashboard_completed{
	background-color: #e2f4dc !important;
}
.dashboard_completed {
    background-color: #e2f4dc !important;
    color: #1C5D1D !important;
    border: 1px solid #A4D897 !important;
}
.project-list{
	overflow: scroll;
}
.project-list::-webkit-scrollbar {
    width: 12px;
}
.success_video{
	display: inline-block;
	height:300px;
	position: relative;
	width: 100%;

		
}

.apeople_btn{
	width: 100% !important;
}
@media (min-width: 1200px) and (max-width:1400px) {
	.youtube_video_preLoaded{
		width: 405px !important;
	}
}
@media (min-width: 1000px) and (max-width:1400px) {
	.btn_container{
		width: 500px !important;
	}
}

.edit_flexed{
	margin-top: 30px;
}
.wistia_additional{
	position: relative;
    /* top: -51px; */
	opacity: 0;
}
.width_100{
	width: 100% !important;
}
.apeople_switchbox{
	display: flex;
    position: relative;
    left: 1.5vw;
    margin-bottom: 16px;
    width: fit-content;
    padding: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgb(51 51 51 / 20%);
    border-radius: 4px;
}
.apeople_switchbox div{
	width: 105px;
    height: 39px;
    border-radius: 4px;
	cursor: pointer;
}
.apeople_switchbox h5{
	font-size: 10.5px;
	text-align: center;
    padding-top: 14px;

}
@media (min-width: 1400px) {
	.apeople_switchbox div{
		width: 119px;
		
	}
	.apeople_switchbox h5{
		font-size: 12px;
		
	
	}
}
@media (min-width: 1000px) and (max-width:1200px) {
	.apeople_switchbox div{
		width: 171px;
		
	}
.apeople_switchbox{
	display: block;
}
}
.apeople_help_parent a{
	text-decoration: none;
    color: #4E6B8C;
    font-size: 13px;
    text-align: center;
}
.apeople_help_parent .menu-content-item{
	padding: 10px;
    border-bottom: 1px solid #8080804f;
}
.apeople_help_parent{
	border: 1px solid #4E6B8C;
    padding: 13px;
    margin-top: 13px;
    border-radius: 4px;
}

.invite_email_parent{
	display: flex;
    width: 100%;
    border: 1px solid #80808085;
    border-radius: 7px;
	min-height: 44px;
}
.invited_users{
	display: grid;
    width: min-content;
    grid: auto / repeat(4, 1fr);
}




.invited_users_object{
	padding: 6px;
	padding-right:0;
	cursor: pointer;
}
.invited_users_object h5{
	font-size: 13px;
    background-color: #8080808a;
    padding: 7px;
    margin-bottom: 0;
    color: white;
    border-radius: 4px;
}
.invite_email_parent input,#invite_team .form-control{font-size:12px;padding: 5px 15px;border-radius:8px;font-weight:300;} .invite_email_parent input{
border: none;
    outline: none;
    width: -webkit-fill-available;overflow: auto;
}







/* div.btn{
	height: max-content;
	margin-top: 3rem;
}

div.disabled_btn{
	height: max-content;
	margin-top: 3rem !important;
} */

.rounded-pill{
	margin-top: 0;
}
.sticky-scroll{position:sticky;top:86px;}
.survey_btn{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    position: absolute;
    width: 104px;
    height: 24px;
    background: #CCCCCC;
    border-radius: 4px;
    font-size: 13px;
    border: none;
	position: relative;
    top: -3px;
    right: 7px;
	color: #a9a9a9;
}


.iq_bot .progress_step_name p {
	width: 150px !important;
}
.iq_bot a:nth-child(1) {
	position: relative;
	left: 3.3vw;
}

.iq_bot a:nth-child(2) {
	position: relative;
	left: 3vw;
}
.iq_bot a:nth-child(3) {
	position: relative;
	left: 3vw;
}
.iq_bot a:nth-child(4) {
	position: relative;
	left: 2.5vw;
}
.iq_bot a:nth-child(5) {
	position: relative;
	left: 2vw;
}

@media (min-width: 1000px) and (max-width: 1200px) {
	.iq_bot .progress_step_name p{
		width: 120px !important;
	}
	.iq_bot a:nth-child(1) {
		position: relative;
		left: 2.5vw;
	}
	
	.iq_bot a:nth-child(2) {
		position: relative;
		left: 1vw;
	}
	.iq_bot a:nth-child(3) {
		position: relative;
		left: -0.7vw;
	}
	.iq_bot a:nth-child(4) {
		position: relative;
		left: -2.5vw;
	}
	.iq_bot a:nth-child(5) {
		position: relative;
		left: -4vw;
	}
}
@media (min-width: 1200px) and (max-width: 1400px) {
	.iq_bot .progress_step_name p {
		width: 130px !important;
	}
	.iq_bot a:nth-child(1) {
		position: relative;
		left: 4vw;
	}
	
	.iq_bot a:nth-child(2) {
		position: relative;
		left: 3vw;
	}
	.iq_bot a:nth-child(3) {
		position: relative;
		left: 2.5vw;
	}
	.iq_bot a:nth-child(4) {
		position: relative;
		left: 2vw;
	}
	.iq_bot a:nth-child(5) {
		position: relative;
		left: 1vw;
	}
}
@media (min-width: 1400px) and (max-width: 1900px) {
	.iq_bot a:nth-child(1) {
		position: relative;
		left: 4vw;
	}
	.iq_bot a:nth-child(2) {
		position: relative;
		left: 3.5vw;
	}
	.iq_bot a:nth-child(3) {
		position: relative;
		left: 3.5vw;
	}
	.iq_bot a:nth-child(4) {
		position: relative;
		left: 3vw;
	}
	.iq_bot a:nth-child(5) {
		position: relative;
		left: 2.5vw;
	}
}