/*start horizental menu */
._hm .menu-item {border-right: 1px solid #777;align-items: center;display: flex;position: relative;transition: all 0.5s linear;}
._hm .menu-item.active {background-color: #fff;transition: all 0.15s linear;}
._hm .menu-item:last-child {border-right: 0px;}
._hm .menu-item-title {color: #e9e7e7;font-weight: 400;cursor: pointer;text-transform: capitalize;font-size: 14px;}
._hm .menu-item.active .menu-item-title {color: #4e6b8c;text-decoration: none;}
._hm .menu-item .menu-item-content {position: absolute;right: 0px;transform: translateY(30px);transition: all 0.1s linear;visibility: hidden;opacity: 0;top: 65px;color: #333;}
._hm .menu-item.active .menu-item-content {background-color: #fff;z-index: 1;min-width: 100%;transform: translateY(0px);transition: all 0.1s linear;visibility: visible;opacity: 1;border: 1px solid #eaeaea;font-weight: 500;box-shadow: 0px 10px 9px rgba(18, 18, 18, 0.25);-webkit-box-shadow: 0px 10px 9px rgba(18, 18, 18, 0.25);border-radius: 0px 0px 16px 16px;border-top: 0px;padding: 15px;color: #4e6b8c;}
._hm .menu-item.active .width-350 {min-width: 350px !important;}
._hm .menu-item.active .notification_menu.menu-item-content .menu_content_header {padding: 10px;border-bottom: 2px solid #ccc;font-weight: 700;}
._hm .menu-item.active .notification_menu.menu-item-content .menu-content-data .menu-content-item {border-bottom: 1px solid #c4c4c4;padding-top: 15px;padding-bottom: 15px;}
._hm .menu-item.active .notification_menu.menu-item-content .menu-content-data .menu-content-item:last-child {border-bottom: 0px;}
._hm .menu-item.active .notification_menu.menu-item-content .menu-content-data .menu-content-item .menu-content-item-title {font-weight: 500;text-decoration: none;font-size: 14px;line-height: 20px;color: #4e6b8c;}
._hm .menu-item.active .notification_menu.menu-item-content .menu-content-data .menu-content-item .menu-content-item-body {font-size: 12px;color: #333333;font-weight: 300;}
._hm .menu-item.active .notification_menu.menu-item-content .menu-content-data .menu-content-item .menu-content-item-more { padding-top: 10px;padding-bottom: 10px;}
._hm .menu-item.active .menu-item-content .menu-item-data {padding: 8px 10px;border-bottom: 1px solid #c4c4c4;cursor: pointer;display: block;color: #4e6b8c;text-decoration: none;}
._hm .menu-item.active .menu-item-content .menu-item-data:last-child {border-bottom: 0px;}
._hm .m-hide {display: inline;}
/*media query for horizontal menu*/
@media (max-width: 576px) {._hm .menu-item.active .menu-item-content {min-width: 250px;}}

/*End horizental menu */

/*Start Progress  Bar that in readiness Page*/
.migration_progress {box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);background-color: #212121;width: 100%;z-index: 100;top: 65px;position: fixed;}
.migration_progress.onscroll .step_name {margin-bottom: 0px;max-height: 0px;overflow: hidden;transition: max-height 0.4s ease-out;-webkit-transition: max-height 0.4s ease-out;}
.migration_progress.onscroll .step_name.active, .migration_progress.onscroll:hover .step_name {max-height: 200px;-webkit-transition: max-height 0.4s ease-in;}
.migration_progress.onscroll .step_name li {-webkit-transform: scale(0);transform: scale(0);transition: all 0.4s linear;-webkit-transition: all 0.4s linear;}
.migration_progress.onscroll:hover .step_name li {-webkit-transform: scale(1);transform: scale(1);transition: all 0.4s linear;-webkit-transition: all 0.4s linear;}
#progressbar {overflow: hidden;padding-left: 0px !important;margin-bottom: 0px !important;display: flex;justify-content: space-between;position: relative;}
#progressbar:after {content: '';height: 8px;background-color: #949494;width: 100%;position: absolute;top: 11px;border-radius: 15px;}
#progressbar li {list-style-type: none;position: relative;z-index: 999;}
#progressbar li > span:before {content: ' ';font-family: 'bootstrap-icons';font-size: 3rem;width: 30px;height: 30px;line-height: 28px;display: block;font-size: 16px;color: #4f4f4f;background: #949494;border-radius: 50%;padding: 2px;display: flex;justify-content: center;align-items: center;}
/* #progressbar li:last-child > span:before {
	content: '\f3cb';
	font-family: 'bootstrap-icons';
} */
#progressbar a:last-child li span:before {content: '\f3cb';}
#progressbar .in_progress > span:before {content: '\f309';font-family: 'bootstrap-icons';font-size: 3rem !important;color: #fff;background: #e54a0b;}
#progressbar .in_progress .progress_step_name {color: #fff;font-weight: 600;}
#progressbar .active .progress_step_name {color: #fff;}
#progressbar li.active > span:before {content: '\f272' !important;font-family: 'bootstrap-icons';color: #fff;border-color: #121212;background-color: #e54a0b;}
#progressbar li > span.active:before,#progressbar li.active:after {background: #e54a0b;color: #fff;}
.step_name {display: flex;list-style: none;}
.migration_progress .step_name .progress_step_name {margin-top: 8px;color: #949494;min-height: 40px;padding-left: 5px;padding-right: 5px;}
@media (max-width: 767px) {#progressbar li .progress_step_name {min-height: 50px;}}
@media (max-width: 576px) {._hm .menu-item.active .menu-item-content {min-width: 250px;}}

/*End Progress Bar*/

