﻿/*Progress bar*/
.migration_progress {
	top: 65px !important;
}
.migration_progress.onscroll {
	position: fixed;
	width: 100%;
	z-index: 99;
}
.migration_progress.onscroll .step_name {
	display: none;
	margin-bottom: 0px;
	transition: all 0.5s linear;
}
.migration_progress.onscroll:hover .step_name {
	display: flex;
	transition: all 0.5s linear;
}

#progressbar {
	overflow: hidden;
	padding-left: 0px !important;
	margin-bottom: 0px !important;
	display: flex;
	justify-content: space-between;
	position: relative;
}
#progressbar:after {
	content: '';
	height: 8px;
	background-color: #949494;
	width: 100%;
	position: absolute;
	top: 11px;
	border-radius: 15px;
}
#progressbar li {
	list-style-type: none;
	position: relative;
	z-index: 999;
}
#progressbar li > span:before {
	content: ' ';
	font-family: 'bootstrap-icons';
	font-size: 3rem;
	width: 30px;
	height: 30px;
	line-height: 28px;
	display: block;
	font-size: 16px;
	color: #4f4f4f;
	background: #949494;
	border-radius: 50%;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul#progressbar a:nth-child(3) li span:before {
	content: '\f3cb';
	font-size: 1rem !important;
}

#progressbar .in_progress > span:before {
	content: '\f309';
	font-family: 'bootstrap-icons';
	font-size: 3rem;
	color: #fff;
	background: #e54a0b;
}
#progressbar .in_progress .progress_step_name {
	color: #fff;
	font-weight: 600;
}

#progressbar .active .progress_step_name {
	color: #fff;
}
#progressbar li.active > span:before {
	content: '\f272' !important;
	font-family: 'bootstrap-icons';
	color: #fff;
	border-color: #121212;
	background-color: #e54a0b;
}

#progressbar li > span.active:before,
#progressbar li.active:after {
	background: #e54a0b;
	color: #fff;
}
.step_name {
	display: flex;
	list-style: none;
}

.migration_progress .step_name .progress_step_name {
	margin-top: 8px;
	color: #949494;
	min-height: 40px;
	padding-left: 5px;
	padding-right: 5px;
}

@media (max-width: 767px) {
	#progressbar li .progress_step_name {
		min-height: 50px;
	}
}
