﻿@font-face {font-family: 'MuseoSans';src: url('./fonts/MuseoSans-100.ttf') format('truetype');font-weight: 100;font-style: normal;}
@font-face {font-family: 'MuseoSans';src: url('./fonts/MuseoSans-300.ttf') format('truetype');font-weight: 300;font-style: normal;}
@font-face {font-family: 'MuseoSans';src: url('./fonts/MuseoSans-500.ttf') format('truetype');font-weight: 500;font-style: normal;}
@font-face {font-family: 'MuseoSans';src: url('./fonts/MuseoSans-700.ttf') format('truetype');font-weight: 700;font-style: normal;}
@font-face {font-family: 'MuseoSans';src: url('./fonts/MuseoSans-900.ttf') format('truetype');font-weight: 900;font-style: normal;}
/*body{font-family: 'MuseoSans';}*/
html{scroll-behavior: smooth!important;}

/*start font properties*/
a{color:inherit;text-decoration: none;}
a:hover{color:inherit!important;}
/*font weight*/
.fw-600{font-weight:600;}
/*end font properties*/

/*start space properties*/

/*margin*/
.margin-auto{margin-left:auto;margin-right:auto;}

/*padding*/
.pd-b {padding-bottom:80px;}
.pd-r-0{padding-right:0px!important;}
/*end space propeties*/

/*start Alignment properties*/
/*flex align div */
.align-center{display:flex;justify-content:center;align-items:center;}
.right-align-div {display: flex;align-items: center;justify-content: flex-end;}
.left-align-div {display: flex;align-items: center;justify-content:flex-start;}
.spacebetween-align-div {display: flex;align-items: center;justify-content:space-between;}
.top-align-div{display: flex;align-items:baseline;}

/*end alignment*/

/*background  colors*/

.bg_theme{background-color:#FF4A00;color:#ffffff;}
.bg_primary_blue{background-color:#4E6B8C;color:#fff;}
.bg-light-grey{background-color:#f4f4f4;}
.bg-lightdark-grey{background-color:#eeeeee;}

/*text colors*/
.fc-theme{color:#FF5A10;}
.fc-blue{color:#4E6B8C;}
.fc-yellow{color:#ffbc03;}
.color-mixdark{color:#4b4b4b;}
.fc-dark{color:#212121;}
.fc-theme-dark{color:#121212;}
.fc-warning{color:#E5C522;}

/*end background and colors */

/*form properties*/
/*textbox and label*/
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance: textfield;}
.form-group label{position:relative;color:#121212;}
.textbox{padding:10px;display:block;background-color:#fff;border:0px;border:1px solid #ccc;border-radius:5px;}
::placeholder{color:#CCCCCC;}


/*btn design*/
.btn_custom{margin-right:10px;margin-bottom:0px;font-size:14px;font-weight:400;}
.btn_custom:last-child{margin-right:0px;}
.btn-border{border:1px solid #121212;padding:6px 8px;width:auto;text-decoration:none;border-radius:3px;}
.btn-border-blue{border:1px solid #4E6B8C;padding:5px 10px;/*width:auto;*/text-decoration:none;border-radius:3px;color:#4E6B8C;position:relative;}
.text-btn{font-size:15px;}
.btn-disabled{background-color:#CCCCCC!important;color:#a9a9a9!important;cursor:not-allowed!important;border:1px solid #ccc!important;}
.btn{transition:all 0.15s linear!important;transform:scale(1);}
.btn:hover{transition:all 0.15s linear!important;transform:scale(1.02);}
/*end form properties*/


/*wrappper for highlight information*/
.success-wrapper{background-color:#e2f4dc!important;color:#1C5D1D!important;border:1px solid #A4D897!important;   }
.info-wrapper{background-color:#E6F5FF!important;border:1px solid #A2C7E0!important;border-radius:8px!important;}
.dashboard_completed {background-color: #e2f4dc !important;color: #1C5D1D !important;border: 1px solid #A4D897 !important;}
.warning-wrapper{background-color:#fffbbf!important;border:1px solid #ffeb36!important;border-radius:8px;color:#333!important;}
.warning-wrapper i{color:#e5c522;}
.info-wrapper,.success-wrapper,.warning-wrapper p{color:#121212;font-size:16px;font-weight:400;}

/*text content properties*/
.content{font-size:16px;line-height:26px;color:#121212;font-weight:300;}
.sm-content{font-size:12px;line-height:22px;color:#121212;font-weight:300;}
.xs-sm-content{font-size:10px;line-height:20px;color:#121212;font-weight:300;}
/*img properties*/
.img-responsive {max-width: 100%;}

/* start more helpful properties*/
/* start more helpful properties*/
.flex{display:flex;}
.d-flex{display:flex;}
.full-height{height:100%;}
section{padding-top:50px;padding-bottom:50px;}
.reverse-icon{transform: matrix(-1, 0, 0, 1, 0, 0);}
@media (max-width: 992px) {.content{font-size:14px;line-height:24px;}}
@media (max-width: 767px) {.d_flex{display:initial;}}

/*bootstrap properties*/
.fst-italic{display:inline;vertical-align:text-bottom;}