﻿/* Start Header section*/
header {
	background-color: #333;
	color: #fff;
    position:fixed;
	top: 0px;
	width: 100%;
	z-index: 999;
}
.logo {
	padding: 5px;
	display: inline-block;
	border-right: 1px solid #777;
}
.logo img {
	max-width: 100px;
}

/*header horizental menu*/
header ._hm .menu-item-title .icon-design {
	border-radius: 100%;
	padding: 3px;
	font-weight: 500;
	height: 25px;
	width: 25px;
	text-align: center;
	font-size: 14px;
}
header .user_icon {
	background-color: #ef9685;
	color: #121212 !important;
	font-weight: 700;
}

/*index.html*/
.full-height-vh {
	min-height: 85vh;
}

/*assesment form Page*/
.black_design {
	background: linear-gradient(160deg, #232323 54.44%, #4b4b4b 99.8%);
	box-shadow: 0px 0px 16px rgba(51, 51, 51, 0.25);
	border-radius: 16px;
	position: relative;
	overflow: hidden;
	position: relative;
	z-index: -2;
    min-height:70vh;
}

.black_design:after {
	content: url('../public/images/cog_Group.svg');
	position: absolute;
	bottom: 30px;
	right: 70px;
	transform: scale(0.7);
	z-index: -1;
	height: 200px;
	width: 200px;
}

/* start select search dropdown */
.select-dropdown {
	position: relative;
	font-weight: 300;
}
.selected_data {
	position: relative;
	color: #9d9a9a;
}
.selected_data:before {
	content: '\f52a' !important;
	font-family: 'bootstrap-icons';
	position: absolute;
	right: 11px;
}
.selected_data:hover::before {
	color: #121212;
}
.selected_data.active:before {
	content: '\f235';
	font-family: 'bootstrap-icons';
	color: #ccc;
}
.select_dropdown_data {
	border: 1px solid #949494;
	border-top: 0px;
	margin-top: -3px;
	position: absolute;
	width: 100%;
	z-index: 999;
	background-color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}
.select-search {
	position: relative;
}
.select-search .search-box {
	padding: 4px 15px 4px 5px;
	border: 1px solid #aaa;
	outline: none;
}
.select-search .search-box:focus {
	border: 1px solid #333;
}
.select-search:before {
	content: '\f52a';
	position: absolute;
	font-family: 'bootstrap-icons';
	top: 4px;
	right: 14px;
	display: none !important;
}
.select-dropdown-content {
	list-style: none;
	padding-left: 0px;
}
.select-dropdown-content li {
	padding: 6px;
	color: #7c7b7b;
}
.select-dropdown-content li:hover {
	background-color: #efefef;
}
.doc_default_blue {
	background-image: url('/images/doc-default.svg');
	background-position: center;
	background-size: 16px;
	width: 14px;
	height: 13px;
	display: inline-block;
	filter: invert(40%) sepia(33%) saturate(533%) hue-rotate(171deg)
		brightness(93%) contrast(88%);
}
.doc_default_black {
	background-image: url('/images/doc-default.svg');
	background-position: center;
	background-size: 16px;
	width: 14px;
	height: 13px;
	display: inline-block;
	filter: invert(44%) sepia(2%) saturate(163%) hue-rotate(15deg) brightness(88%)
		contrast(93%);
}.icon-usergroup{background-image: url('/images/usergroup.svg');background-position:center;background-size:16px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat;}.icon-link{background-image: url('/images/link.svg');background-position:center;background-size:16px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat;}
 .icon-doc{background-image: url('/images/doc-default.svg');background-position:center;background-size:16px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat;}
 .icon-globe{background-image: url('/images/globe.svg');background-position:center;background-size:16px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat;}
 .icon-video{background-image: url('/images/video.svg');background-position:center;background-size:16px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat;}
 .icon-user{background-image: url('/images/user.svg');background-position:center;background-size:16px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat;}
 .icon-white-download{background-image: url('/images/white-download.svg');background-position:center;background-size:16px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat;}
.icon-white-document{background-image: url('/images/white-document.svg');background-position:center;background-size:16px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat;}
.icon-white-video{background-image: url('/images/white-video.svg');background-position:center;background-size:16px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat;}
.icon-white-globe{background-image: url('/images/white-global.svg');background-position:center;background-size:16px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat;}.icon-download{background-image: url('/images/download.svg');background-position:center;background-size:16px;width:20px;height:20px;display:inline-block;background-repeat:no-repeat;}

/* end select search dropdown */
.mg-card {
	height: 100%;
	margin-bottom: 15px;
	border-radius: 0.4rem !important;
	border: 2px solid #ccc !important;
	transition: all 0.15s linear;
}
.migrate_type .mg-card:hover {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25) !important;
	transition: all 0.15s linear;
}
.migrate_type.disabled .mg-card {
	pointer-events: none;
}
.migrate_type.active .mg-card {
	border-color: #4e6b8c !important;
	background-color: #e5f5ff;
	transition: all 0.15s linear;
}
.migrate_type.active .mg-card:before {
	content: '\f633';
	border-radius: 4px 0px;
	text-align: center;
	top: 0px;
	padding: 5px 10px;
	left: 0px;
	font-family: 'bootstrap-icons';
	background-color: #4e6b8c;
	color: #fff;
	position: absolute;
	transition: all 0.15s linear;
}

.recom_badge {
	position: absolute;
	top: -17px;
	border: 2px solid #4e6b8c;
	background-color: #fff;
	padding: 2px 14px;
	font-size: 12px;
	border-radius: 20px;
	max-width: max-content;
	margin: 0px auto;
	left: 0px;
	right: 0px;
	color: #4e6b8c;
}
.migrate_type.active .recom_badge {
	background-color: #4e6b8c;
	color: #fff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
/*.r_crv .card-wrapper{margin-right:5rem;}
.r_crv .card-wrapper:last-child{margin-right:0rem;}
[data-version].disabled .card .bg-dark{background-color:#aeaeae!important;}
*/
/* migration toolkit card design*/
.overlay-div {
	margin-top: -130px;
	box-shadow: 0px 0px 10px #ccc;
	background-color: #fff;
	border-radius: 15px;
}

.mg_ass_selection .card .card-title {
	text-align: center;
	color: #121212;
	width: 100%;
	font-weight: 700;
}
.mg_ass_selection .textbox{border:1px solid #949494;border-radius:4px;color:#212121;font-weight:300;}
.mg_ass_selection .aa_type .version_icon {
	height: 70px;
	width: 70px;
	border-radius: 100%;
	background-color: #e0e0e0;
	color: #666666;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 25px;
	margin-bottom: 12px;
}
.mg_ass_selection .aa_type.active .version_icon {
	background-color: #4e6b8c;
	color: #fff;
	border: 5px solid #cde5f5;
}
.migration_item {
	margin-bottom: 30px;border-bottom: 1px solid #ccc;
}
.MigrationSteps{border-bottom:1px solid #ccc;padding-bottom:30px;padding-top:30px;}.mg_ass_selection .card .card-body {
	color: #4d4d4d;
	padding: 0px;
	font-size: 13px;
}
.form-group .textbox:focus {
  outline: 1px solid #949494;
}
::placeholder {
    color: #CCCCCC;
}
.helpful_data a {display:flex;align-items:center;
	margin-bottom: 5px;
	color: #4e6b8c;
	font-size: 15px;
}
.helpful_data i {
	color: #666666;
}
.crv_custom_radio {
	transform: scale(1.4);
	filter: grayscale(1);
}

/*migration readiness page */
.doc_default_blue {
	background-image: url('../public/images/doc-default.svg');
	background-position: center;
	background-size: 16px;
	width: 14px;
	height: 13px;
	display: inline-block;
	filter: invert(40%) sepia(33%) saturate(533%) hue-rotate(171deg)
		brightness(93%) contrast(88%);
}
.doc_default_black {
	background-image: url('../public/images/doc-default.svg');
	background-position: center;
	background-size: 16px;
	width: 14px;
	height: 13px;
	display: inline-block;
	filter: invert(44%) sepia(2%) saturate(163%) hue-rotate(15deg) brightness(88%)
		contrast(93%);
}
/* ul#progressbar a:nth-child(4) li span:before {
	content: '\f3cb' !important;
	font-size: 1rem !important;
} */
.progress_step_name p {
	width: 190px;
}
/* .migration_progress {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	background-color: #212121;
	position: relative;
} */
.btn-proceed {
	margin-bottom: 10px;
}

.licence_modal .modal-content {
	border-radius: 1rem;
}
.licence_modal .info-wrapper i {
	color: #4e6b8c;
}
.success-info-wrapper {
	background-color: #e2f4dc;
	color: #121212;
	border: 1px solid #4b9d4a;
	border-radius: 8px;
}
.license_fixed_info {
	color: #4f4f4f;
}
.licence_modal .modal-footer {
	border-top: 0px;
	justify-content: center;
}

.on_premises .modal-content {
	border-radius: 16px;
}

.tips {
	border-radius: 8px;
	padding: 15px;
	color: #121212;
}
.links, .links a {
    color: #4E6B8C !important;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}

.collapse-item .rounded-pill{font-size:14px;margin-top: 0;} .collapse-item {
	border: 1px solid #cccccc;
	margin-bottom: 30px;
	border-radius: 16px;
	box-shadow: 0px 0px 2px 0px rgba(51, 51, 51, 0.25);
	transition: transform 0.2s;
}
.collapse-item:hover {
	transform: scale(1.003);
}
.collapse-item.active {
	border: 1px solid #4e6b8c;
}
.collapse-header {
	padding: 14px !important;
	position: relative;
}
.collapse-header h5 {
	color: #333333;
}
.collapse-item.active .collapse-header:before {
	content: '';
	height: 42px;
	width: 9px;
	background-color: #6b8baf;
	position: absolute;
	left: 0px;
	top: 11px;
	border-radius: 0px 5px 4px 0px;
}
/* .collapse-body.collapse {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.4s ease-out;
} */
@keyframes example {
	0% {
		height: auto;
	}

	100% {
		height: 0px;
	}
}
.turnoff {
	animation-name: example;
	animation-duration: 4s;
	border: 2px solid red;
	height: 0px;
}
.collapse-body {
	padding: 18px;
	border-top: 1px solid #cccccc;
	font-size: 16px;

	line-height: 26px;
	color: #4f4f4f;
}

.success-page .collapse-item {
	box-shadow: 0px 0px 4px #c3c3c3;
	border: 0px;
}
.success-page .collapse-item .collapse-header:before {
	width: 0px;
	height: 0px;
}
.footer {
	font-weight: 300;

	margin-bottom: 0px !important;
}
.edit_journey {
    position: absolute !important;
    right: 2% !important;
    top: 8px !important;
    width: auto !important;
    font-size: 14px!important;
}

@media (max-width: 992px) {
	.logo {
		border-right: 0px;
	}
	.logo_text {
		font-size: 0.8rem;
		border-right: 0px;
	}
	.r_crv .card-wrapper {
		margin-right: 0rem;
	}
	.mg_ass_selection .form-group label:before {
		width: 30px;
		left: -40px;
	}

	/*bootstrap update*/
	h1,
	.h1 {
		font-size: 1.375rem !important;
		line-height: 1.875rem !important;
	}
	h2,
	.h2 {
		font-size: 1.325rem !important;
		line-height: 1.825rem !important;
	}
	h3,
	.h3 {
		font-size: 1.3rem !important;
		line-height: 1.8rem !important;
	}
	h4,
	.h4 {
		font-size: 1.275rem !important;
		line-height: 1.775rem !important;
	}
	h5,
	.h5 {
		font-size: 1.05rem !important;
		line-height: 1.55rem !important;
	}
	h6,
	.h6 {
		font-size: 0.875rem !important;
		line-height: 1.375rem !important;
	}
	.mob-hide {
		display: none;
	}
	.btn-proceed {
		margin-top: 20px;
		width: 100% !important;
	}
	.btn_custom {
		width: 100% !important;
		margin-bottom: 10px !important;
	}
	.edit_journey {
		position: inherit;
		width: auto;
	}
}
.migration_item p {
	font-size: 16px;
	color: #333;
	line-height: 26px;
	font-weight: 300;
}
.warning-custom-icon{color: #121212!important;background: #E5C522;border-radius: 100%;height:18px;width:18px;display: inline-block;text-align: center;font-size: 18px;margin-right:5px;line-height:0px;}
@media (max-width: 767px) {
.black_design{min-height:initial;}
}
.scroll-wrapper-readiness{max-height: 40vh;overflow-y: scroll;}
.scroll-wrapper-dashboard{max-height: 60vh;overflow-y: scroll;}

/*firefox*/
.scroll-wrapper-readiness.custom-scrollbar {scrollbar-width:thin;scrollbar-color:#e0e0e0 transparent;overflow-y:auto;}


/*chrome*/
.scroll-wrapper-readiness.custom-scrollbar::-webkit-scrollbar {width: 8px;height: 15px;}
.scroll-wrapper-readiness.custom-scrollbar::-webkit-scrollbar-track-piece {background-color:transparent;border-radius:8px;}
.scroll-wrapper-readiness.custom-scrollbar::-webkit-scrollbar-thumb:vertical {height: 30px;background-color:#E0E0E0;}
.scroll-wrapper-readiness.custom-scrollbar::-webkit-scrollbar-thumb {background-color: red;border: 0px solid transparent;border-radius: 8px;background-clip: padding-box;}


/*firefox*/
.scroll-wrapper-dashboard.custom-scrollbar {scrollbar-width: thin;scrollbar-color: #e0e0e0 transparent;overflow-y:auto;}


/*chrome*/
.scroll-wrapper-dashboard.custom-scrollbar::-webkit-scrollbar {width: 8px;height: 15px;}
.scroll-wrapper-dashboard.custom-scrollbar::-webkit-scrollbar-track-piece {background-color:transparent;border-radius:8px;}
.scroll-wrapper-dashboard.custom-scrollbar::-webkit-scrollbar-thumb:vertical {height: 30px;background-color:  #E0E0E0;}
.scroll-wrapper-dashboard.custom-scrollbar::-webkit-scrollbar-thumb {background-color: red;border: 0px solid transparent;border-radius: 8px;background-clip: padding-box;}.collapse-body .btn_custom{display:inline-flex;margin-bottom:10px!important;}


.review{margin-bottom:30px;border-radius:16px;transition:all 0.15s linear;box-shadow: 0px 0px 2px 1px rgba(51, 51, 51, 0.25);}
.review-header{border-bottom:0px;padding:20px 14px 0px 14px !important;position:relative;}
.review-body{padding:18px;font-size:16px;font-size: 16px;line-height: 26px;color: #4F4F4F;transition:max-height 0.4s ease-in;}
.review .review-img img{max-width:50px;margin-right:15px;}
 .review .form-control{font-weight:300;}
 .review .col-form-label{font-size:14px;color:#333;}
 .review .form-control::placeholder{color:#949494;font-size:14px;}
.resize-none{resize: none;}
 .icon-close{position: absolute;right: 32px;top:25px;width: 15px;height:15px;}
.icon-close:before, .icon-close:after {position: absolute;left: 15px;content: ' ';height: 15px;width: 2px;background-color: #4E6B8C;}
.icon-close:before {transform: rotate(45deg);}
.icon-close:after {transform: rotate(-45deg);}

.invite_team .form-control::placeholder {color:#a9a9a9}
.migration_item p{font-size:14px;line-height:24px;}

.additional_resource{border-radius:6px;background-color:#f2f2f2;margin-bottom: 25px;}
.additional_resource .links a{font-weight:400;display:flex;align-items:center;line-height:17px;font-size:14px;margin-top:5px;margin-bottom:5px;}
.resource_header{margin-bottom: 0;text-transform:unset;cursor: pointer;}.additional_resource .links a{text-decoration:inherit;}
.links, .links a {
    color: #4E6B8C !important;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}
.links.thank_comp a{display:flex;align-items:center;font-weight:400;margin-top:5px;margin-bottom:5px;}

